<div class="container-fluid">
	<div class="row">
		<div class="col-md-6" id="mainContent">
			<h1 class=" text-danger mt-3 mb-5">Event Planner App</h1>
			
			<p style="text-align: justify;">Event management is the process of creating and maintaining an event. This process spans from the very beginning of planning all the way to post-event strategizing.

				At the start, an event manager makes planning decisions, such as the time, location, and theme of their event. During an event, event managers oversee the event live and make sure things run smoothly. After an event, event managers are tasked with reviewing event data, submitting KPI and ROI findings, and staying on the ball for any post-event offerings.</p>
			<a routerLink="/event/add" class="btn btn-primary mt-3" >
 
 
				<i class="fa-solid fa-user-plus"></i>&nbsp;New Event</a>

				<a routerLink="/event/events" class="btn btn-success mx-4 mt-3" >
 
 
					<i class="fa-solid fa-list"></i>&nbsp;My Events</a>
				
			</div>
			<div class="col-md-6">
				<img src="https://img.freepik.com/free-vector/time-management-calendar-method-appointment-planning-business-organizer-people-drawing-mark-work-schedule-cartoon-characters-colleagues-teamwork_335657-2096.jpg?w=740&t=st=1679505117~exp=1679505717~hmac=f93dc8bd4d835726b51db6422f9497afda0359827beeaffd5def69a02e011d3e" alt="">
			</div>
	</div>
</div>


