<div class="container-fluid">
	
		
	<h1 class="text-center text-danger mt-3 mb-5">Update Event</h1>
	

</div>



<div class="container form">
<div class="row">
<div class="col-md-6">
	<form class="" id="form">
		<div class="form-group">
		  <label for="name">Event Name</label>
		  <input type="text" [(ngModel)]="eventBody.name" name="eventName" class="form-control mb-4" id="exampleInputEmail1"placeholder="name">
		
		</div>

		<div class="form-group">
			<label for="id">Event Id</label>
			<input type="text" [(ngModel)]="eventBody.id"  name="eventId" class="form-control mb-4" id="exampleInputEmail1"placeholder="id">
		  
		  </div>

		<div class="form-group">
			<label for="venue">Event Venue</label>
			<input type="text" [(ngModel)]="eventBody.venue"  name="eventVenue" class="form-control mb-4" id="exampleInputEmail1"placeholder="venue">
		  
		  </div>

		  <div class="form-group">
			<label for="vimage">Event Image</label>
			<input type="text" [(ngModel)]="eventBody.img"  name="eventImg" class="form-control mb-4" id="exampleInputEmail1"placeholder="image">
		  
		  </div>

		  <div class="form-group">
			<label for="time">Event Time</label>
			<input type="time" [(ngModel)]="eventBody.time"  name="eventTime" class="form-control mb-4" id="exampleInputEmail1"placeholder="time">
		  
		  </div>

		  <div class="form-group">
			<label for="date">Event Date</label>
			<input type="date" [(ngModel)]="eventBody.date"   name="eventDate" class="form-control mb-4" id="exampleInputEmail1"placeholder="date">
		  
		  </div>

		  <div class="form-group">
			<label for="manager">Event Manager</label>
			<input type="text" [(ngModel)]="eventBody.manager"  name="eventManager" class="form-control mb-4" id="exampleInputEmail1"placeholder="manager">
		  
		  </div>
		
		<input type="submit"  (click)="updateEvent()" class="btn btn-primary mt-4" value="Update">
		<button type="button" routerLink="/" class="btn btn-danger mx-5 mt-4">Go Back</button>
	  </form>
</div>
<div class="col-md-6 image">
<img src="https://cdn.pixabay.com/photo/2017/12/08/11/53/event-party-3005668__340.jpg" alt="">
</div>
</div>
</div>