<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
	  <a class="navbar-brand" routerLink="/" >Event Planner</a>
	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		  <li class="nav-item">
			<a class="nav-link active"  routerLink="/">Home</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link active" routerLink="/event/events">Events</a>
		  </li>
	
		  <li class="nav-item">
			<a class="nav-link active" routerLink="/event/add">Add</a>
		  </li>
		</ul>
		<form class="d-flex">
		  <input class="form-control me-2"    type="search" placeholder="Search" aria-label="Search">
		  <button class="btn btn-outline-success" type="submit">Search</button>
		</form>
	  </div>
	</div>
  </nav>
  
